@media screen and (min-width: 601px) and (max-width: 900px){

    #banner{
        width: 100%;
        border-radius: 0px;
        margin-top: 92px;
    }

    #pesquisa{
        width: 80%;
    }

    nav{
        justify-content: space-between;
        width: 97%;
    }

    #categoria{
        margin-left: 55px;
    }

    #acesso{
        margin-right: 0px;
    }

    .classconteudo{
        justify-content: flex-start;
    }

    main .conteudo{
        width: 135px;
        height: 200px;
        margin: 0px;
    }

    .seta_rolagem{
        display: none;
    }
}