@media screen and (min-width: 600px) and (max-width: 900px){

    #banner{
        width: 100%;
        border-radius: 0px;
        margin-top: 92px;
    }

    #pesquisa{
        width: 80%;
    }

    nav{
        justify-content: space-between;
        width: 97%;
    }

    #categoria{
        margin-left: 20px;
    }

     #icategorias{
        flex-wrap: wrap;
        width: 70%;
        position: relative;
        left: 14%;
    }

    #acesso{
        margin-right: 0px;
        margin-left: -16px;
    }

    .classconteudo{
        justify-content: flex-start;
    }

    main .conteudo{
        width: 135px;
        height: 200px;
    }

    .seta_rolagem{
        display: none;
    }

    /*---------------------------------------*/
    #mainplay{
        margin-top: 20px;
        justify-content: space-evenly;
        height: 100%;
    }
    #play{
        order: -1;
        width: 320px;
        height: 180px;
        margin: 0px;
        align-self: flex-start;
    }
    #voltar{
        order: -2;
    }
    #titulofilme{
        order: -2;
        width: 34%;
        align-self: flex-start;
    }
    #sinopse{
    width: 85%;
    margin-bottom: 30px;
    }

    }

    