@media screen and (min-width: 600px) and (max-width: 900px){

    #banner{
        width: 100%;
        border-radius: 0px;
        margin-top: 92px;
    }

    #pesquisa{
        width: 80%;
    }

    nav{
        justify-content: space-between;
        width: 97%;
    }

    #categoria{
        margin-left: 20px;
    }

     #icategorias{
        flex-wrap: wrap;
        width: 70%;
        position: relative;
        left: 14%;
    }

    #acesso{
        margin-right: 0px;
        margin-left: -16px;
    }

    .classconteudo{
        justify-content: flex-start;
    }

    main .conteudo{
        width: 135px;
        height: 200px;
    }

    .seta_rolagem{
        display: none;
    }





    #mainplay{
        overflow-x: hidden;
    }
    #headerplay{
        width: 95%;
    }
    #headerplay nav{
        width: 100%;
    }
    #play{
        width: 340px;
        height: 195px;
        left: 70%;
        top: 30%;
        }

    main #voltar{
        top: -58%;
        left: 3%;
    }

    #titulofilme{
        margin: 0px;
        width: 40%;
        left: 7%;
        top: -70%;
    }

    #sinopse{
    width: 90%;
    left: 6%;
    top: -48%;
    }

    #titulossemelhantes{
    top: -56%;
    left: 6%;
    }

    #classconteudoplay{
    top: -15%;
    left: 1%;
    position: relative;
    }
    }


/*--------------------------
    #headerplay{
        position: unset;
    }
    #play{
        width: 45%;
        height: 206px;
        left: 70%;
        top: 30%;
    }

    #play>video {
    width: 99%;
    }

    #sinopse{
        width: 90%;
        top: 8%;
    }

    #titulofilme{
    font-size: small;
    width: 49%;
    top: -76%;
    left: 4%;
    position: relative;
    }

    main h2{
        text-align:center;
    }

    #resto{
        margin-top: 240px;
    }

    #titulossemelhantes{
        margin: 30px 0px 13px 0px;
        position: relative;
        top: 9%;
    }
    
    #classconteudoplay{
        position: relative;
        top: 26%;
    }
    main>#voltar{
    position: relative;
    top: -37%;
    left: -3%;
    }
    */

    