@media screen and (min-width: 600px) and (max-width: 900px){

    #banner{
        width: 100%;
        border-radius: 0px;
        margin-top: 92px;
    }

    #pesquisa{
        width: 80%;
    }

    nav{
        justify-content: space-between;
        width: 97%;
    }

    #categoria{
        margin-left: 20px;
    }

     #icategorias{
        flex-wrap: wrap;
        width: 70%;
        position: relative;
        left: 14%;
    }

    #acesso{
        margin-right: 0px;
        margin-left: -16px;
    }

    .classconteudo{
        justify-content: flex-start;
    }

    main .conteudo{
        width: 135px;
        height: 200px;
    }

    .seta_rolagem{
        display: none;
    }
<<<<<<< HEAD
=======





    #mainplay{
        overflow-x: hidden;
    }
    #headerplay{
        width: 95%;
    }
    #headerplay nav{
        width: 100%;
    }
    #play{
        width: 340px;
        height: 195px;
        left: 70%;
        top: 30%;
        }

    main #voltar{
        top: -58%;
        left: 3%;
    }

    #titulofilme{
        margin: 0px;
        width: 40%;
        left: 7%;
        top: -70%;
    }

    #sinopse{
    width: 90%;
    left: 6%;
    top: -48%;
    }

    #titulossemelhantes{
    top: -56%;
    left: 6%;
    }

    #classconteudoplay{
    top: -15%;
    left: 1%;
    position: relative;
    }
    }

>>>>>>> ef7c102720a1c056347f2c27f853b265d76dd7b8

    /*---------------------------------------*/
    #mainplay{
        margin-top: 20px;
        justify-content: space-evenly;
        height: 100%;
    }
    #play{
        order: -1;
        width: 320px;
        height: 180px;
        margin: 0px;
        align-self: flex-start;
    }
    #voltar{
        order: -2;
    }
    #titulofilme{
        order: -2;
        width: 34%;
        align-self: flex-start;
    }
    #sinopse{
    width: 85%;
    margin-bottom: 30px;
    }

/*

    #mainplay{
        overflow-x: hidden;
    }
    #headerplay{
        width: 95%;
    }
    #headerplay nav{
        width: 100%;
    }
    #play{
        width: 340px;
        height: 195px;
        left: 70%;
        top: 30%;
        }

    main #voltar{
        top: -58%;
        left: 3%;
    }

    #titulofilme{
        margin: 0px;
        width: 40%;
        left: 7%;
        top: -70%;
    }

    #sinopse{
    width: 90%;
    left: 6%;
    top: -48%;
    }

    #titulossemelhantes{
    top: -56%;
    left: 6%;
    }

    #classconteudoplay{
    top: -15%;
    left: 1%;
    position: relative;
    }
    */
    }

    