#play{
    width: 450px;
    height: 250px;
    background-color: black;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
    position: relative;
    left: 80%;
    top: 25%;
    transform: translate(-50%, -50%);
}
#headerplay{
    position: relative;
    width: unset;
}

#play>video{
    width: 100%;
    height: 100%;
}
main>#voltar>img{
    width: 21px;
}
main>#voltar{
    top: -42%;
    position: relative;
    left: 5%;
}

#titulofilme{
    margin: 0px;
    width: 40%;
    left: 15%;
    position: relative;
    top: -49%;
}

#sinopse{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.5em;
    position: relative;
    left: 11%;
    top: -34%;
}
#sinopse>h3{
    text-indent: 0%;
    margin-bottom: 10px;
}

#titulossemelhantes{
    margin: 30px 0px 0px;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: -36%;
    left: 10%;
    width: 20%;
    background-size: contain;
}

#classconteudoplay{
    margin: -140px auto 0px auto;
    width: 90%;
    top: -8%;
    left: 3%;
}
#classconteudoplay>.conteudo{
    width: 100px;
    height: 150px;
    margin: 0px 7px;
}

