@media screen and (max-width: 600px){
    #banner{
        width: 100%;
        height: 40vh;
        border-radius: 0px;
        margin-top: 140px;
    }

    main>div{
        margin-bottom: 15px;
    }

    #pesquisa{
        width: 80%;
    }

    nav{
        justify-content: baseline;
        flex-wrap: wrap;
    }
    nav>img{
        margin-right: 30px;
    }

    #categoria{
        order: 1;
        margin-top: 30px;
        margin-left: 0px;
        width: 100%;
    }
    #icategorias{
        flex-wrap: wrap;
        width: 90%;
    }
    #acesso{
        width: 75%;
        margin: 0px;
    }

    .cadastro{
        width: 337px;
    }

    .cadastro>fieldset{
        width: 225px;
    }
    .lds-dual-ring:after{
        width: 50px;
        height: 50px;
        margin: 85px 0px 0px -120px;
    }
    .classconteudo{
        justify-content: flex-start;
        width: 100%;
        gap:0px;
    }

    main .conteudo{
        width: 120px;
        height: 165px;
    }

    .seta_rolagem{
        display: none;
    }

    #contpesquisado>.conteudo{
    width: 130px;
    height: 240px;
    margin: 0px 5px 100px 5px;
    }
    #contpesquisado>.conteudo>.overlay>h2 {
        margin-top: 255px;
    }

/*--------------------------*/
    #mainplay{
    height: 100%;
    margin: 30px 0px;
    display: flex;
    flex-flow: column nowrap;
    }

    #voltar{
    margin: 0px 0px 20px 10px;
    order: -2;
    }

    #sinopse{
        width: 90%;
        align-self: center;
    }

    #play{
        margin-top: 22px;
        width: 330px;
        height: 180px;
        order: -1;
    }
    #titulofilme{
        order: -1;
        margin: 0px;
        width: 92%;
    }
    #titulofilme>h2{
        text-align: center;
        margin: 0px 10px;
    }

    #titulossemelhantes{
        width: 92%;
    }
    #classconteudoplay{
        width: 90%;
        margin-bottom: 0px;
    }

}

    