/* Configuraçoes de estilo gerais */
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor00: #2C2F36;
    --cor01: #171719;
    --cor02:#E9E4DE;
    --cor03:#26282F;
}

body{
    background-color: var(--cor00);
}
/*________________________________________________________________________________________________________*/

/*Configuraçoes de estilo do topo da pagina*/
header{
    width: 100vw;
    background-color: var(--cor01);
    padding: 15px;
    position:fixed;   /*deixar o cabeçalho aparecendo na pagina toda*/
    top: 0;
}
    /*icones do cabeçalho da pagina */
ul,nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    justify-content: space-between
}

ul{
    margin: 10px 30px;
}
li{
    margin: 0px 10px;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#acesso{
    margin-right: 65px;
}
#categoria{
    margin-left: 244px;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
}

/*Botoes de login e singup */
#singup>a{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
}

#login>a{
    background-color: red;
    padding: 12px 22px;
    border-radius: 5px;
}

    #singup>a:hover{
    background-color: var(--cor00);
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
}

#login>a:hover{
    background-color: rgb(175, 0, 0);
    text-decoration: none;
    border: 2px solid black;
    padding: 12px 20px;
    cursor: pointer;
}
/*________________________________________________________________________________________________________*/

/*section do banner */
#banner{
    padding-top: 30px;
    display: block;
    width: 60%;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: var(--cor02);
}

#pesquisa{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
#pesquisa>label>button>img{
    width: 30px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#pesquisa>label>button{
    background:none;
    border: none;
}
#ipesquisar{
    height: 25px;
    width: 80%;
    border: none;
}
#ipesquisar:focus{
    outline: none;
    border: none;
}
    
/*________________________________________________________________________________________________________*/

/*-----------------Configuraçoes do estilo do conteudo principal do site-----------------*/

/*Estilo do texto de cada seçao e do botao de ver mais*/

main{
    width: 100%;
    height: 100dvh;
}

main>div{
    margin-bottom: 60px;
}

main h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    margin: 15px 6%;
}

main hr{
    width: 90%;
    margin: 20px auto;
    border: 0.5px solid #41474b;
}

.nomes{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}
.nomes>p>a{
    text-decoration: none;
    color: white;
}
.nomes>p>a:hover{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

/*configuraçao da visualizaçao do conteudo em si */

main .conteudo{
    width: 200px;
    height: 300px;
    background-color: var(--cor02);
    margin: 0px 10px;
    padding: 10px; 
}
.classconteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#contpesquisado{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#contpesquisado>.conteudo{
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 5px 5px 130px 5px;
    
    border-radius: 5px;
}
#contpesquisado>.conteudo>img{
    width: 100%;
}

/*________________________________________________________________________________________________________*/
/*Botao topo*/
#botaotop{
    position:fixed;
    left: 90%;
    top: 90%;
}
#botaotop>img{
    width: 50px;
}

/*________________________________________________________________________________________________________*/
    /*Iframe de Login e cadastro*/
.cadastro{
    background-color: var(--cor01);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 372px;
    height: 380px;
    border-radius: 10px;
}
.cadastro fieldset{
    width: 260px;
    padding: 40px 40px 25px 40px;
    border-radius: 20px;
    border: 2px solid var(--cor02);
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor03);
}

.cadastro fieldset>img{
    top: 0%;
    position: fixed;
    width: 10px;
    left: 92%;
    cursor: pointer;
}

legend{
    text-align: center;
    color: var(--cor02);
    font-family: Arial;
}

label{
    color: var(--cor02);
    font-family: Arial;
    font-weight: bold;
}

input{
    border: 1px solid black;
    width: 100%;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

#log1{
    cursor: pointer;
    position: absolute;
    top: 86%;
    left: 48%;
    transform: translate(-50% , -50%);
}

#log2{
    cursor: pointer;
    position: absolute;
    top: 82%;
    left: 48%;
    transform: translate(-50% , -50%);
}

#ibotcadastro{
    margin-left: 25%;
    font-size: large;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--cor03);
    padding: 17px;
    width: 46%;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid var(--cor02);
    }

#ibotcadastro:hover{
    background-color: var(--cor01);
}

#botlogin{
    margin-left: 25%;
    font-size: large;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--cor03);
    padding: 17px;
    width: 46%;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid var(--cor02);
}

#botlogin:hover{
    background-color: var(--cor01);
}

#pagsingup{
    display: none;
}

#paglogin{
    display: none;
}

